# Ignore Python virtual environments
venv/

# Ignore dotenv environment variables
.env

# Ignore captured image data
data/captured/
Images/

# Ignore system files
src/__pycache__/
*.pyc

# VSCode and OS metadata
.vscode/
.DS_Store
Thumbs.db

#Ignore credentials for authoerization
/config/credentials.yaml    
